@model IEnumerable<SalesWebMvc.Models.Venda>

@{
    ViewData["Title"] = "Busca Simples";
}

<h2>@ViewData["Title"]</h2>

<nav class="navbar bg-dark mb-4">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <div class="d-flex gap-3 align-items-center">
                <div class="form-group">
                    <label for="dataMin">Data Mínima</label>
                    <input type="date" class="form-control" name="minData"
                           value="@(((DateTime?)ViewData["DataMin"])?.ToString("yyyy-MM-dd"))" />
                </div>
                <div class="form-group">
                    <label for="dataMax">Data Máxima</label>
                    <input type="date" class="form-control" name="maxData"
                           value="@(((DateTime?)ViewData["DataMax"])?.ToString("yyyy-MM-dd"))" />
                </div>
                <button type="submit" class="btn btn-primary ml-3">Filtrar</button>
            </div>
        </form>
    </div>
</nav>

<!-- Painel substituído por Card do Bootstrap -->
<div class="card">
    <div class="card-header bg-primary text-white">
        <h3 class="card-title">Total de Vendas = @Model.Sum(obj => obj.Valor).ToString("F2")</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-success">
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vendedor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vendedor.Departamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vendedor.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vendedor.Departamento.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
